@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');  
body{
  background-color: #6bd6a4;
  font-family: 'Source Code Pro', monospace;
  margin: 120px 20px;
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .025em;
  margin-bottom: 15px;
  color: #222;
}
#navbarDropdown-login, #navbarDropdown-logout {
  color: #6bd6a4;
  letter-spacing: .05em;
}
#signupLink {
  background-color: #fff;
}
#loginBtn, #signupBtn, #signupLink:hover {
  background-color: #6bd6a4;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
}
#loginBtn:hover, #signupBtn:hover{
  background-color: rgb(40, 39, 39);
}
#main-container {
  margin: 0 auto;
  min-width: 500px;
  max-width: 775px;
}
a.navbar-brand, a.navbar-brand:hover {
  letter-spacing: .05em;
  color: #fff !important;
}
.navbar-nav .nav-link {
  text-align: right;
}
#navMenu {
  list-style: none;
}
#navMenu a{
  padding-right: 20px;
  text-decoration: none;
  color: #6bd6a4;
  letter-spacing: .05em;
}
#navMenu a:hover, .fa-heart:hover {
  color:#d1ffe8;
}
#submit-form-btn {
  margin-left: 10px;
}
.dropdown-menu {
  padding-bottom: 10px;
}
.addStory {
  font-size: 1.5em;;
}
a:link, a:visited  {
    color: #fff;
}
a:hover {
  color:#d1ffe8;
  text-decoration: none;
}
td {
  font-size: 1.15em;
  text-align: right;
}
td input {
  margin-left: 10px;
}
.subtext {
  color:#888;
}
form {
  width: 30vw;
}
input {
  padding: 3px 10px;
  margin: 5px 0px;
  border: none;
  border-radius: 3px;
}
button {
  border: none;
}
.btn-link {
  color: #555;
  text-decoration: none;
}
.hidden {
  display: none;
}
strong {
  color: #000;
}
.articles-list {
  line-height: 1.75em;
}
.article-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .01rem;
}
a.article-link :hover {
  color: #d1ffe8;
  text-decoration: underline;
}
hr {
  width: 100vw;
  max-width: 750px;
  margin-top: 15px;
}